<%- include('../partials/_html-head.ejs', {title: 'View My Rides'}) %>
<%- include('../partials/_nav-bar.ejs') %>
  
<main>
  <h1 class="h1"> <%= user.username %>'s Rides </h1>
  
    <% rides.forEach(ride => { %>
      <article>
        <h5>  <%= ride.date.toDateString() %></h5> 
        <p><%= ride.location %></p> 
        <p><%= ride.notes %></p>
        <a href="/rides/<%= ride._id%>"> <p>View full ride details</p> </a>
      </article> 
    <% }) %>
  




    <p>
      <a role=button href="/rides/new">Add a New Ride</a>
    </p>



</main>
</body>
</html>